ul{
    list-style: none;
}
li{
    display: flex;
    background-color: #EEEEEE;
    color:#393E46;
    max-width: 15rem;
    padding: 1rem 0.5rem;
    margin-right: 5rem;
    border-radius: 0.5rem;
    font-weight: 600;
    margin-top: 1rem;
    justify-content: space-between;
    word-wrap: break-word;
}
.fa-trash{
    margin-left: 1rem;
    transition: all 0.1s linear;
    cursor: pointer;
}
.fa-trash:hover{
    color:rgb(204, 17, 17);
    transform: scale(1.4);
}